.todo.todo.todo {
  position: relative;
  cursor: not-allowed;
}

.todo.todo.todo::after {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-size: auto auto ;
  background-color: rgba(255, 255, 255, 0.1) ;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 12px, rgba(255, 1, 1, 0.15) 12px, rgba(255, 1, 1, 0.15) 24px);
}

.product-card{
  padding: 5px;
}
.gutter-sizer {
  width: 15px!important;
}

.grid-sizer {
  width: calc((100% / 3) - 10px)!important;
}


.product-card .product-thumb>img,
.owl-carousel .owl-item img,
.pswp img{
  -webkit-transform: translate3d(0,0,0);
}

.product-gallery{
  padding-top: 15px;
}
.product-gallery.sale {
  padding-top: 75px;
}



.pswp img {
  max-width: none;
  object-fit: contain;
}

.text-bold{
  font-weight: bold;
}

.page-title{
  padding: 6px 0;
}
.breadcrumbs{
  text-align: left;
}

@media (max-width: 576px){
  .page-title {
    margin-bottom: 15px;
  }
}

@media (max-width: 768px){
  .breadcrumbs {
    padding-top: 10px;
  }
}

.text-decoration-none{
  text-decoration: none;
}

.page-title{
  margin-bottom: 30px;
}

/* .site-footer {
  position: absolute;
  bottom: -200px;
  width: 100%;
} */



.no-csstransforms3d .offcanvas-open .offcanvas-wrapper,
.no-csstransforms3d .offcanvas-open .site-backdrop,
.no-csstransforms3d .offcanvas-open .navbar, .no-csstransforms3d .offcanvas-open .topbar {
  left: 0px;
}

.csstransforms3d .offcanvas-open .offcanvas-wrapper, .csstransforms3d .offcanvas-open .site-backdrop, .csstransforms3d .offcanvas-open .navbar, .csstransforms3d .offcanvas-open .topbar {
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.offcanvas-container.active {
  z-index: 9999;
  visibility: visible;
  -webkit-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

.offcanvas-container {
  -webkit-transform: translate3d(-290px, 0, 0);
  transform: translate3d(-290px, 0, 0);
  transition: transform .4s ease-in-out;
}

.product-card .product-title>a {
  display: block;
  min-height: 40px;
}