@media (min-width: 1400px) {
	.container {
		max-width:100%;
	}
}

@media (min-width: 576px){
  .modal-dialog {
    max-width: 100%;
  }
}
		
.typeahead .twitter-typeahead{
	display: inline-block!important;
}

.repeater-row{
	display: block!important;
}

.bootstrap-tagsinput{
	width: 100%;
}

.fm-modal {
	z-index: 10011; 
	width:80%;
	height:80%;
	top: 10%;
	left:10%;
	border:0;
	position:fixed;
	-moz-box-shadow: 0px 1px 5px 0px #656565;
	-webkit-box-shadow: 0px 1px 5px 0px #656565;
	-o-box-shadow: 0px 1px 5px 0px #656565;
	box-shadow: 0px 1px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
}

/* @media (min-width: 576px){
  .modal-dialog {
    max-width: 100%;
  }
}

.kt-aside__brand .kt-aside__brand-logo a img {
	width: 60px;
}

.kt-header-mobile__logo a img {
	width: 50px;
}

 */

.hide{
	display: none;
}

.flex-wrapper {
	display: flex;
	flex-flow: row nowrap;
}

.single-chart {
	width: 100%;
	justify-content: space-around ;
}

.circular-chart {
	display: block;
	margin: 10px auto;
	max-width: 100%;
	max-height: 250px;
}

.circle-bg {
	fill: none;
	stroke: #eee;
	stroke-width: 3.8;
}

.circle {
	fill: none;
	stroke-width: 2.8;
	stroke-linecap: round;
	animation: progress 1s ease-out forwards;
}

@keyframes progress {
	0% {
		stroke-dasharray: 0 100;
	}
}

.circular-chart.green .circle {
	stroke: #3a9a13;
}

.percentage {
	fill: #666;
	font-family: sans-serif;
	font-size: 0.5em;
	text-anchor: middle;
}

.main-preloader {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.65);
	z-index: 9999;
}

.preloader {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50px;
	height: 50px;
	display: inline-block;
	padding: 0px;
	border-radius: 100%;
	border: 3px solid;
	border-top-color: #287bbd;
	border-bottom-color: #34ade5;
	border-left-color: #287bbd;
	border-right-color: #34ade5;
	-webkit-animation: preloader 0.8s linear infinite;
	animation: preloader 0.8s linear infinite;
}

@keyframes preloader {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

@-webkit-keyframes preloader {
	from {
		-webkit-transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
	}
}