@media (min-width: 576px){
  .modal-dialog {
    max-width: 100%;
  }
}

.fm-modal {
	z-index: 10011; /** Because CKEditor image dialog was at 10010 */
	width:80%;
	height:80%;
	top: 10%;
	left:10%;
	border:0;
	position:fixed;
	-moz-box-shadow: 0px 1px 5px 0px #656565;
	-webkit-box-shadow: 0px 1px 5px 0px #656565;
	-o-box-shadow: 0px 1px 5px 0px #656565;
	box-shadow: 0px 1px 5px 0px #656565;
	filter:progid:DXImageTransform.Microsoft.Shadow(color=#656565, Direction=180, Strength=5);
}

.typeahead .twitter-typeahead{
	display: inline-block!important;
}
.bootstrap-tagsinput{
	width: 100%;
}

.kt-aside__brand .kt-aside__brand-logo a img {
	width: 60px;
}

.kt-header-mobile__logo a img {
	width: 50px;
}


